In [1]:
class Dog:
    def __init__(self) -> None:
        self.name = 'rex'
    def bark():
        print('haw haw haw')

In [4]:
dog1 = Dog()

In [5]:
dog1.name

'rex'

In [6]:
class Dog:
    def __init__(self,name) -> None:
        self.name = name
    def bark():
        print('haw haw haw')

In [7]:
dog1.name = 'simba'

In [8]:
dog1.name

'simba'

In [9]:
dog2 = Dog('mesh simba')

In [10]:
dog2.name

'mesh simba'

In [11]:
dog1.name = 'Joy'

In [12]:
dog1.name

'Joy'

In [13]:
class Dog:
    def __init__(self,name,age) -> None:
        self.name = name
        self.age = age
    def bark():
        print('haw haw haw')
    def set_age(self,age):
        self.age = age

In [14]:
dog1 = Dog('zeft',2)

In [19]:
dog1.age

2

In [21]:
print( raise ValueError ('HI'))

SyntaxError: invalid syntax (4117039675.py, line 1)

In [31]:
class Account:
    def __init__(self,name,balance) -> None:
        self.name = name
        self.balance = balance
        self.__ssn = '001-001-1134'
    def deposit(self,amount):
        self.balance += amount
    def withdraw(self,amount):
        self.balance += amount

1300

In [23]:
acct1 = Account('Younis',1200)

In [24]:
acct1.balance

1200

In [34]:
acct1.__ssn

'0000'

In [25]:
acct1.deposit(100)

In [26]:
acct1.balance

1300

In [41]:
class Account:
    def __init__(self,name,balance) -> None:
        self.name = name
        self.balance = balance
        self.__ssn = '001-001-1134'
    def deposit(self,amount):
        self.balance += amount
    def withdraw(self,amount):
        self.balance += amount
    def __repr__(self):
        return f'{self.name} currently has {self.balance} in his account'

In [43]:
acct2 = Account('Marina',900)

In [46]:
acct2

Marina currently has 900 in his account

In [47]:
class Account:
    def __init__(self,name,balance) -> None:
        self.name = name
        self.balance = balance
        self.__ssn = '001-001-1134'
    def deposit(self,amount):
        self.balance += amount
    def withdraw(self,amount):
        self.balance += amount
    def __repr__(self):
        return f'{self.name} currently has {self.balance} in his account'
    def __add__(self,other):
        return f'{self.name} and {other.name} both have a total of ',self.balance+other.balance

In [48]:
acct1 = Account('younis',200)

In [49]:
acct2 = Account('ahmed',300)

In [50]:
acct2 + acct1

('ahmed and younis both have a total of ', 500)

In [51]:
class Employee:
    def __init__(self,fname,lname) -> None:
        self.fname = fname
        self.lname = lname
        self.email = fname+'.'+lname + '@email.com'

In [52]:
emp1 = Employee('younis','ahmed')

In [53]:
emp1.email

'younis.ahmed@email.com'

In [54]:
class Teacher(Employee):
    pass

In [55]:
tr1 = Teacher('hany','hassan')

In [56]:
tr1.email

'hany.hassan@email.com'

In [57]:
class Teacher(Employee):
    def __init__(self, fname, lname) -> None:
        super().__init__(fname, lname)
        self.email = 't-' +fname+'.'+lname + '@email.com'

In [58]:
tr1 = Teacher('ahmed','sami')

In [59]:
tr1.email

't-ahmed.sami@email.com'

In [60]:
somestr = 'HelLo mR. aHmeD !'

newstrlist  = []
for letter in somestr:
    if 97 <= ord(letter) <=122:
        newstrlist.append(chr(ord(letter) - 32))
    else:
        newstrlist.append(letter)
newstrlist
''.join(newstrlist)

'HELLO MR. AHMED !'

In [61]:
print(help(Teacher))

Help on class Teacher in module __main__:

class Teacher(Employee)
 |  Teacher(fname, lname) -> None
 |
 |  Method resolution order:
 |      Teacher
 |      Employee
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, fname, lname) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [62]:
class Newstring:
    def __init__(self,nstr) -> None:
        self.length = len(nstr)
        self.uppercase
        self.nstr = nstr
    def uppercase(self):
        somestr = self.nstr
        newstrlist  = []
        for letter in somestr:
            if 97 <= ord(letter) <=122:
                newstrlist.append(chr(ord(letter) - 32))
            else:
                newstrlist.append(letter)

        return ''.join(newstrlist)

In [63]:
newstr = Newstring('string')

In [66]:
print(newstr.uppercase())

STRING