In [ ]:
x = 7

In [ ]:
y = 3

In [ ]:
x + y

In [ ]:
total = x + y

In [ ]:
print(total)

In [ ]:
total

In [ ]:
type x

In [ ]:
type (x)

In [ ]:
type(10.23)

In [ ]:
total = 10.8 + 12.2 + 0.2

In [ ]:
total

In [ ]:
7*4

In [ ]:
2 ** 10

In [ ]:
9 ** (1/2)

In [ ]:
7//4

In [ ]:
5/3

In [ ]:
5/3

In [ ]:
5//3

In [ ]:
12/7

In [ ]:
12//7

In [ ]:
12/7

In [ ]:
14/7

In [ ]:
14//7

In [ ]:
123/0

In [ ]:
z + 10

In [ ]:
7.5 % 15

In [ ]:
5%4

In [ ]:
import os
os.getcwdb()

In [ ]:
os.unam

In [ ]:
os.uname_result()

In [ ]:
import sys

In [ ]:
sys.path

In [ ]:
import numpy

In [ ]:
import os

In [ ]:
print(os.uname{})

In [1]:
import seaborn as sns
sns.set()
df = sns.load_dataset("iris")
sns.pairplot(df,hue="species")

ModuleNotFoundError: No module named 'seaborn'

In [4]:
print('This is a longer string, so we \
       split it to two lines')

This is a longer string, so we        split it to two lines

In [5]:
print('Sum is',7+3)

Sum is 10

In [6]:
print('Total is ', 9+5)

Total is  14

In [7]:
type('New')

str

In [8]:
int(5.2)

5

In [9]:
print('int(5.2)','truncates 5.2 to',int(5.2))

int(5.2) truncates 5.2 to 5

In [10]:
print('display \'hi\' in quotes ')

display 'hi' in quotes

In [11]:
triple = """HI dude
how are you?"""

In [12]:
print(triple)

HI dude
how are you?

In [14]:
print("""This is a lengthy multiline string containing 
      a few lines \
       of text""")

This is a lengthy multiline string containing
      a few lines        of text

In [15]:
name = input("What is your name?")
print(name)
print(type(name))

Ahmed
<class 'str'>

In [16]:
value1= input('Enter your first number')

In [19]:
value2 = input('Enter your second number')

In [20]:
value1+value2

'45'

In [21]:
type(value2)

str

In [22]:
value = input('enter an interger: ')

In [23]:
value = int(value)

In [24]:
value
type(value)

int

In [25]:
value

8

In [26]:
another_value = int(input('Enter another value: '))

In [27]:
value + another_value

16

In [28]:
bad_value = int(input('Enter another integer: '))

ValueError: invalid literal for int() with base 10: 'Hello'

In [29]:
int(10.4)

10

In [30]:
float(6.2) * 3.3

20.46

In [31]:
print('Enter two integers, and I will tell you',
      'the relationships they satisfy.')

number1 = int(input('Enter first integer: '))

number2 = int(input('Enter second integer: '))

if number1 == number2 :
    print(number1,'is equal to',number2)

if number1 != number2 :
    print(number1,'is not equal to',number2)

if number1 > number2:
    print(number1,'is greater than',number2)

if number1 < number2:
    print(number1,'is less than',number2)

if number1 <= number2:
    print(number1,'is less than or equal to',number2)

if number1 >= number2:
    print(number1,'is greater than or equal to',number2)

Enter two integers, and I will tell you the relationships they satisfy.
4 is not equal to 5
4 is less than 5
4 is less than or equal to 5

In [1]:
print("This is my first line i need to split ","HYG this is the second line")

This is my first line i need to split  HYG this is the second line

In [2]:
x=3

In [3]:
1 <= x <= 5

True

In [4]:
Type(7)

NameError: name 'Type' is not defined

In [5]:
type(7)

int

In [6]:
x = 4.1

In [7]:
type(x)

float

In [8]:
x = 'dog'

In [9]:
type(x)

str

In [10]:
min(47,95,88,73,88,84)

47

In [11]:
max(47,95,88,73,88,84)

95

In [12]:
print('Range:',min(47,95,88,73,88,84),'-',max(47,95,88,73,88,84))

Range: 47 - 95

<h1>Exercises</h1>

In [13]:
x = 2

In [14]:
y = 3

In [15]:
print('x =',x)

x = 2

In [20]:
print('Value of ', x, '+', x ,'is', (x+x))

Value of  2 + 2 is 4

In [17]:
print('x = ')

x =

In [18]:
print((x+y), '=',(y+x))

5 = 5

Ex 2.2

In [24]:
number = int(input("Input a number between 1 and  10"))
square = number * number
square

4

EX 2.3

In [26]:
grade = int(input("Enter your grade. "))

if grade >= 90:
    print("Congratulations! Your grade of" ,grade," earns you an A in thiscourse")

Ex 2.5

In [31]:
egg_box = 6
num_box = 28//6
reminder = 28 %6
missing_eggs = 6- reminder
print(num_box)
print(reminder)
print(missing_eggs)

4
4
2

EX 2.6 Odd or Even

In [33]:
number = int(input("Enter a number"))

if number % 2 == 0 :
    print("Even")

else:
    print("Odd")

Even

EX 2.7 The Reminder Operator

(The Remainder Operator) Jonah wants to distribute 22 marbles among his
4 friends. All friends should receive an equal amount of marbles. Write a script that can
determine if this is possible.

In [38]:
num = 22 % 4
print(num)

2

EX 2.8

(Table with Number of Bacteria) Starting with 200 bacteria, the growth in the
number of bacteria after n hours is calculated as follows: B = 200 × 2n. Print the number
of bacteria after 0, 5, 10, and 15 hours in table format as shown below. Use the tab escape
sequence to achieve the two-column output.
Hour Number of Bacteria
0 200
5 6400
10 204800
15 6553600
The next chapter shows how to “right align” numbers. You could try that as an extra challenge
here. The output would be as given below:
Hour Number of Bacteria
0 200
5 6400
10 204800
15 6553600

In [52]:


var1 = 200 * (2**0)
var2 = 200 * (2**5)
var3 = 200 * (2**10)
var4 = 200 * (2**15)
print("    Hour      Number Of Bacteria\n")
print("        0","                 ",var1)
print("        5","                 ",var2)
print("        10","                ",var3)
print("        15","                ",var4)

    Hour      Number Of Bacteria

        0                   200
        5                   6400
        10                  204800
        15                  6553600

In [53]:
ord("Mohamed")

TypeError: ord() expected a character, but string of length 7 found

In [54]:
ord('m')

109

In [60]:
sum(1+2)

TypeError: 'int' object is not iterable

In [63]:
ord("T") + ord("o") + ord("m")

304

In [64]:
ord("J") + ord("i") + ord("m")

288

EX 2.10 (Arithmetic, Highest and Lowest)

In [67]:
import statistics

In [75]:
import statistics

grade1= int(input("Enter Grade 1:"))
grade2= int(input("Enter Grade 2:"))
grade3= int(input("Enter Grade 3:"))

average_grade  = (grade1+grade2+grade3) / 3

print("Avg is:",average_grade)

highestGrade = max(grade1,grade2,grade3)
print("Max is:",highestGrade)


lowestGrade = min(grade1,grade2,grade3)
print("lowest is:",lowestGrade)

Avg is: 2.0
Max is: 3
lowest is: 1

EX 2.11 (Calculating Time)

In [88]:
num_sec = int(input("Enter num of seconds:"))

num_hours =  int((num_sec / 60) /60)

num_min = int((num_sec / 60)-60)

num_remsec = int((num_sec % 60))

print(num_hours)
print(num_min)
print(num_remsec)

2
90
0

In [91]:

# Input the total number of seconds from the user
total_seconds = int(input('Please enter the number of seconds: '))

# Calculate the number of hours
hours = total_seconds // 3600

# Calculate the remaining seconds after finding hours
remaining_seconds = total_seconds % 3600

# Calculate the number of minutes from the remaining seconds
minutes = remaining_seconds // 60

# Calculate the remaining seconds after finding minutes
seconds = remaining_seconds % 60

# Print the result
print(f"{hours} - {minutes} - {seconds}")

2 - 30 - 0

In [93]:
num1 = int(input("Enter your first number: "))
num2 = int(input("Enter your second number: "))

total = num1 + num2

print('The sum of', num1 , 'and', num2,'is', total)

The sum of 2 and 3 is 5

In [96]:
grade = 90

if grade >= 60:
    print('passed')
  print('Hi')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [97]:
grade = 85

if grade >= 60:
    print('Passed')

Passed

In [98]:
grade = 55

if grade >= 60:
    print('passed')

In [102]:
grade = 50

if grade >= 60:
    print('Passed')
else:
    print('Failed')

Failed

In [104]:
result =('passed' if grade >= 60 else 'Failed')
result

'Failed'

In [106]:
grade = 99

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

A

In [111]:
product = 3

while product <= 50:
    product = product * 3

product

81

In [112]:
81**3

531441

In [114]:
product = 7

while product <= 1000:
    product = product * 7

product

2401

In [115]:
for char in 'programming':
    print(char,end=' ')

p r o g r a m m i n g

In [116]:
for char in "younis":
    print(char,end='  ')

y  o  u  n  i  s

In [118]:
print(10,20,30,sep=',')

10,20,30

In [121]:
total = 0

for number in [2,-3,0,17,9]:
    total += number

total

25