### 5.2 Lists

In [18]:
c = [-45,6,0,72,1543]
c

[-45, 6, 0, 72, 1543]

In [9]:
c[4]

1543

In [10]:
c = ['Mary','Smith',3.57,2022]
c

['Mary', 'Smith', 3.57, 2022]

In [11]:
len(c)

4

In [12]:
c[-1]

2022

In [16]:
a= 1
b = 2
c[a + b]

2022

In [19]:
c[4] = 17

c

[-45, 6, 0, 72, 17]

In [21]:
s= 'Hello'
s[0]
s[0] = 'M'

TypeError: 'str' object does not support item assignment

In [22]:
c[100]

IndexError: list index out of range

In [23]:
c[0] + c[1] + c[2]

-39

In [25]:
a_list=  []

for number in range(1,6):
    a_list += [number]

a_list

[1, 2, 3, 4, 5]

In [26]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [28]:
letters = []
letters += 'python'
letters

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
letter = []

letter += 'python'

letter

['p', 'y', 't', 'h', 'o', 'n']

In [31]:
list1 = [10,20,30]
list2 = [40,50]

concatenated_list = list1 + list2

concatenated_list

[10, 20, 30, 40, 50]

In [33]:
for i in range(len(concatenated_list)):
    print(f'{i} : {concatenated_list[i]}')

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50

In [34]:
a = [1,2,3]
b = [1,2,3]
c = [1,2,3,4]

a == b

True

In [36]:
a == c

False

In [37]:
a < c

True

In [38]:
c >= b

True

In [45]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **=3


number = [1,2,3,4,5,6,7,8,9,10]
cube_list(number)

number

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [46]:
charachters = []

charachters += 'Birthday'

charachters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [1]:
colors = ['red','green']

newcolors = colors.copy()
newcolors.append('yello')
print(newcolors)

['red', 'green', 'yello']

### 5.3 Tuples

In [47]:
stu_tuple = ()
stu_tuple

()

In [48]:
len(stu_tuple)

0

In [51]:
stu_tuple = 'John','Green',3.3
stu_tuple
len(stu_tuple)

3

In [56]:
a_single_tuple = ('red',)
type(a_single_tuple)

tuple

In [57]:
time_tuple = (9,16,1)
time_tuple

(9, 16, 1)

In [58]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [ ]:
210

In [11]:
tuple1 = (10,20,30)

tuple2 = tuple1

print(tuple2)

(10, 20, 30)

In [13]:
tuple1 +=(40,50)
print(tuple1)

(10, 20, 30, 40, 50, 40, 50)

In [14]:
#Append  Tuples to Lists

numbers = [1,2,3,4,5]

numbers += (6,7)


print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
stu_tuple = ('amanda','blue',[89,76,78])

stu_tuple[2][2] = 85
print(stu_tuple)

('amanda', 'blue', [89, 76, 85])

In [17]:
single = (123.45,)
print(single)

(123.45,)

### 5.4 Unpacking Sequances

In [21]:
stu_tuple = ('Mohamed Younis',['20,40,60'])

name,grades = stu_tuple

grades

['20,40,60']

In [ ]:
211

In [23]:
# Unpack string

first,second  = 'hi'

first

'h'

In [26]:
number1,number2,number3 = [2,3,5]

print(f'{number1} {number2} {number3} 2' )

type(number3)

2 3 5 2

int

In [28]:
number1,number2,number3 = range(10,40,10)

print(f'{number1} {number2} {number3} ' )

10 20 30

In [1]:
#Swapping Values

number1= 99
number2= 22

number1,number2 = (number2,number1)
print(f'number1 = {number1} ; number2 = {number2}')

number1 = 22 ; number2 = 99

In [2]:
colors = ['red','orange','yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [3]:
colors = ['red','orange','yellow']


tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [4]:
for index,value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [7]:
"""Displaying a bar chart"""

numbers = [19,3,15,7,11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}    Bar')

for index,value in enumerate(numbers):
    print(f'{index:>5}{value:>8}    {"*" * value}')

Creating a bar chart from numbers:
Index   Value    Bar
    0      19    *******************
    1       3    ***
    2      15    ***************
    3       7    *******
    4      11    ***********

In [9]:
numbers = [10,20,30,40]

print(f'Index {"Values":>8}    Bar')

for index,value in enumerate(numbers):
    print(f'{index:>5}{value:>8}     {"*" * value}')

Index   Values    Bar
    0      10     **********
    1      20     ********************
    2      30     ******************************
    3      40     ****************************************

In [12]:
numbers = [10,11,12]

print(f'Index  {"Values":>8}    Bar')

for index,values in enumerate(numbers):
    print(f'{index :>5} {values :>8}     {"*" * values}')

enumerate(numbers)

Index    Values    Bar
    0       10     **********
    1       11     ***********
    2       12     ************

In [1]:
high_low = ('Monday',87,65)

high_low

('Monday', 87, 65)

In [2]:
print(f'{high_low[0]}: High= {high_low[1]} Low= {high_low[2]}')

Monday: High= 87 Low= 65

In [9]:
high_low = ('Monday',87,65)

day,low,high = high_low

high

65

In [31]:
names = ['Younis','Karim','Mohamed']

print(f'Index{"Name":>5}')
for index,name in enumerate(names):
    print(f'{index}:    {name :>5}')

Index Name
0:    Younis
1:    Karim
2:    Mohamed

### 5.5 Sequence Slicing

In [54]:
numbers = [2,3,5,7,11,13,17,19]

numbers [:6]

[2, 3, 5, 7, 11, 13]

In [39]:
numbers[6:]

[17, 19]

In [42]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [43]:
numbers[::2]

[2, 5, 11, 17]

In [44]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [45]:
numbers [-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [55]:
numbers [0:3]  = ['two', 'three','five']

numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [56]:
numbers [0:3] = []
numbers

[7, 11, 13, 17, 19]

In [58]:
numbers  = [2,3,5,7,11,13,17,19]

numbers[::2] = [100,100,100,100]

numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [59]:
id(numbers)

2838567878528

In [60]:
numbers[:] = []

In [61]:
numbers

[]

In [62]:
id(numbers)

2838567878528

In [66]:
numbers = (1,2,3,4)
numbers[:]

(1, 2, 3, 4)

In [67]:
name = "hello"
name[1]

'e'

In [68]:
names = [1,3,4]
names[::-1]

[4, 3, 1]

In [73]:
numbers = list(range(1,16))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [70]:
numbers[1:len(numbers):2]

[2, 4, 6, 8, 10, 12, 14]

In [74]:
numbers[5:10] = [0] * len(numbers[5:10])
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [77]:
numbers[5:] = []
numbers

[1, 2, 3, 4, 5]

In [79]:
numbers[:] = []
numbers

[]

In [80]:
numbers  = list(range(0,10))

In [81]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [84]:
del numbers [-1]
numbers

[0, 1, 2, 3, 4, 5, 6]

In [85]:
del numbers[0:2]
numbers

[2, 3, 4, 5, 6]

In [86]:
del numbers[0:2]
numbers

[4, 5, 6]

In [88]:
del numbers [::2]
numbers

[]

In [89]:
del numbers[:]
numbers

[]

In [91]:
del numbers
numbers

NameError: name 'numbers' is not defined

In [95]:
numbers = list(range(1,16))

In [96]:
del numbers[0:4]
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [97]:
del numbers[::2]
numbers

[6, 8, 10, 12, 14]

### 5.7 Passing Lists to Functions

In [100]:
def modify_elements(items):
    """Multiplies all elements values in items by 2. """
    for i in range(len(items)):
        items[i] *= 2
    

number = [10,3,7,1,9]

modify_elements(number)

number

[20, 6, 14, 2, 18]

In [102]:
def modify_items(items):
    for i in range(len(items)):
        items[i] *= 2

numbers = [10,20,30]
modify_items(numbers)
numbers

[20, 40, 60]

In [109]:
numbers_tupel = ([1,2,4],20,30)
numbers_tupel
modify_elements(numbers_tupel)
numbers_tupel

TypeError: 'tuple' object does not support item assignment

### 5.8 Sorting Lists