In [ ]:
total = 0

for number in [2,-3,0,17,9]:
    total += number

total

In [ ]:
for counter in range(10):
    print(counter,end=" ")

In [ ]:
total = 0

for number in range(1000001):
    total = total + number

total

In [ ]:
total = 0

for number in [1,2,3,4,5]:
    total += number

total

In [ ]:
x  = 12

x **= 2

x

In [ ]:
dir('name')

In [ ]:
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

for grade in grades:
    total += grade
    grade_counter += 1

average = total/grade_counter

print(f'Class average is {average}')

In [ ]:
total = 0
grade_counter = 0

for grade in [1,2,3,4,5]:
    total += grade
    grade_counter += 1

average = total/grade_counter
print(f'the average is {average}')

In [ ]:
count = 0

for char in 'Younis':
    count += 1

count

In [ ]:
number1 = 7
number2 = 5

print(f'{number1} times {number2} is {number1 * number2}')

In [26]:
total = 0
grade_counter = 0

grade = int(input('Enter grade, -1 to end'))

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end'))

if grade_counter != 0:
    average = total / grade_counter
    print(f'Class average is {average:.2f}')

else:
    print('No grades were entered')

ValueError: invalid literal for int() with base 10: '5-1'

In [27]:
passes = 0
failures = 0

for student in range(10):
    result = int(input('Enter result (1 = pass , 2 = fail) :'))

    if result == 1:
        passes += 1
    
    else:
        failures += 1

print('Passed:', passes)
print('Failed:',failures)

Passed: 1
Failed: 9

In [28]:
for count in range(10):
    print(count)

0
1
2
3
4
5
6
7
8
9

In [ ]:
name = ''

for char in 'Younis':
    name += char
    print(char,end='   ')

In [ ]:
type(char)

In [ ]:
for count in range(2):
    value = int(input('Enter an integer'))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')

In [ ]:
for number in range (5,10):
    print(number,end=' ')

In [ ]:
for number in range(0,10,2):
    print(number,end=' ')

In [ ]:
for number in range(10,0,-2):
    print(number,end=' ')

In [ ]:
total = 0

for number in range(1000001):
    total += number

total

In [ ]:
from decimal import Decimal

principal = Decimal('1000.00')
principal

In [ ]:
x = Decimal('10.5')

y = Decimal('2')

x+y

In [ ]:
x//y

In [ ]:
x+=y
x

In [29]:
for number in range(100):
    if number == 10:
        break
    print(number,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for number in range(10):
    if number == 5:
        continue
    print(number,end=' ')

In [ ]:
for number in range(100):
    if number == 10:
        break
    print(number,end=" ")

In [ ]:
gender = 'Female'
age = 70

if gender == 'Female' and age >= 65:
    print('Senior female')

In [2]:
semster_average = 83

final_exam = 95

if semster_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [5]:
grade = 87

if  not grade == -1:
    print('The next grade is',grade)

The next grade is 87

In [6]:
if grade != -1:
    print('The next grade is', grade)

The next grade is 87

In [7]:
i = 1
J = 2
k = 3
m = 2

In [9]:
(i >= 1) and (J <4)

True

In [10]:
(m <= 99) and (k < m)

False

In [11]:
(J >= i) or (k == m)

True

In [12]:
(k + m < J) or (3 - J >= k)

False

In [13]:
not(k>m)

False

In [14]:
grades = [85,93,45,89,85]

sum(grades) / len(grades)

79.4

In [15]:
import statistics

In [30]:
statistics.mean(grades)

79.4

In [31]:
statistics.median(grades)

85

In [32]:
statistics.mode(grades)

85

In [19]:
sorted(grades)

[45, 85, 85, 89, 93]

In [20]:
import statistics

values = [47,95,88,73,88,84]

statistics.mean(values)

79.16666666666667

In [21]:
statistics.median(values)

86.0

In [22]:
statistics.mode(values)

88

In [25]:
for number in range(10):
    if number == 5:
        continue
    print(number ,end=' ')

0 1 2 3 4 6 7 8 9

In [1]:
print('Hi')

Hi

In [2]:
import statistics

temp = [19.5,19.5,21.6,20.2,19.7,20.2,18.6,17.2,19.5]

mean = statistics.mean(temp)

median = statistics.median(temp)

mode = statistics.mode(temp)

print('The mean is:',mean,'\nThe median is:',median,'\nThe mode is:',mode)


temp.append(20.2)

try:
    mode = statistics.mode(temp)
    print("Mode after adding 10th day: ", mode)
except statistics.StatisticsError:
    print("No unique mode found after adding 10th day.")

The mean is: 19.555555555555557
The median is: 19.5
The mode is: 19.5
Mode after adding 10th day:  19.5

In [1]:
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [2]:
type(num)

list

In [3]:
num = [1,[2,0],'Hi',4,5]
num

[1, [2, 0], 'Hi', 4, 5]

In [5]:
type(num)

list

In [6]:
bicycles = ['trek','cannondale','redline','specialized']

print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [7]:
print(bicycles[0])

trek

In [12]:
for item in bicycles:
    for i in range(len(bicycles)):
        print(item,end=' ')
    print()

trek trek trek trek
cannondale cannondale cannondale cannondale
redline redline redline redline
specialized specialized specialized specialized

In [13]:
type(bicycles[0])

str

In [14]:
bicycles[0].title()

'Trek'

In [15]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

Modify Element

In [16]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [18]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [19]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

motorcycles.insert(2,'ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'ducati', 'suzuki']

In [20]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [21]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

pop() Method

In [22]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

popped_motor = motorcycles.pop()

print(motorcycles)
print(popped_motor)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

del