In [173]:
country_codes = {'Finland': 'fi','south africa': 'za','nepal' : 'np'}
country_codes

{'Finland': 'fi', 'south africa': 'za', 'nepal': 'np'}

In [174]:
len(country_codes)

3

In [175]:
if country_codes:
    print("country_codes is not empty")
else:
    print("country_codes is empty")

country_codes is not empty

In [176]:
country_codes.clear()
if country_codes:
    print("country_codes is not empty")
else:
    print("country_codes is empty")

country_codes is empty

In [177]:
states = {'New yourk' : 'NYC' , 'Florida':'FLR','Las Vegas':'LV'}
states

{'New yourk': 'NYC', 'Florida': 'FLR', 'Las Vegas': 'LV'}

In [178]:
days_per_month = {'jan' : 31 , 'feb' : 28 , 'mar' : 31}
days_per_month

{'jan': 31, 'feb': 28, 'mar': 31}

In [179]:
for month,day in days_per_month.items():
    print(f'{month} has {day} days')

print(type(days_per_month.items()))

jan has 31 days
feb has 28 days
mar has 31 days
<class 'dict_items'>

In [180]:
roman_numerals = {'I' : 1 , 'II' : 2 , 'III' : 3 , 'V':4 , 'X' : 100}
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 4, 'X': 100}

In [181]:
roman_numerals['V']

4

In [182]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 4, 'X': 100}

In [183]:
roman_numerals['L'] = 50

In [184]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 4, 'X': 100, 'L': 50}

In [185]:
del roman_numerals['III']
roman_numerals

{'I': 1, 'II': 2, 'V': 4, 'X': 100, 'L': 50}

In [186]:
roman_numerals.pop('X')

100

In [187]:
roman_numerals

{'I': 1, 'II': 2, 'V': 4, 'L': 50}

In [188]:
roman_numerals['l']

KeyError: 'l'

In [ ]:
roman_numerals.get('p','None')

'None'

In [ ]:
'V' in roman_numerals

True

In [ ]:
'III' in roman_numerals

False

In [ ]:
'III' not in roman_numerals

True

In [ ]:
roman_numerals = {'I':1 , 'II':2 , 'III' : 3 , 'V':5 , 'X':100}

roman_numerals['X'] = 10
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [ ]:
months = {'Jan' : 1, 'Feb' :2,'March' : 3}

for month_name in months.keys():
    print(month_name,end=' ')

Jan Feb March

In [ ]:
for month_number in months.values():
    print(month_number,end=' ')

1 2 3

In [ ]:
months_view = months.keys()

for key in months_view:
    print(f'{key}' , end=' ')

print(months_view)

Jan Feb March dict_keys(['Jan', 'Feb', 'March'])

In [ ]:
months['Dec'] = 12
months

{'Jan': 1, 'Feb': 2, 'March': 3, 'Dec': 12}

In [ ]:
for key in months_view:
    print(f'{key}',end=' ')

Jan Feb March Dec

In [ ]:
list(months.keys())

['Jan', 'Feb', 'March', 'Dec']

In [ ]:
list(months.values())

[1, 2, 3, 12]

In [ ]:
list(months.items())

[('Jan', 1), ('Feb', 2), ('March', 3), ('Dec', 12)]

In [ ]:
list(months.items())

[('Jan', 1), ('Feb', 2), ('March', 3), ('Dec', 12)]

In [ ]:
for month_name in sorted(months.keys()):
    print(month_name,end=' ')

Dec Feb Jan March

In [ ]:
roman_numerals = {'I': 1,'II':2,'III':3,'V' : 4}

In [ ]:
list(roman_numerals.items())

[('I', 1), ('II', 2), ('III', 3), ('V', 4)]

In [ ]:
list(roman_numerals.keys())

['I', 'II', 'III', 'V']

In [ ]:
list(roman_numerals.values())

[1, 2, 3, 4]

In [ ]:
names1 = {'Marina' : 'Lab' , 'Hossam':'HR','Younis':'IT'}
names2 = {'Aliaa' : 'Lab' , 'Dina': 'lab' ,'Hala' : 'SC'}
names3 = {'Marina' : 'Lab' , 'Hossam':'HR','Younis':'IT'}

In [ ]:
names1 == names3

True

In [ ]:
names2 == names3

False

In [ ]:
names3 != names2

True

In [ ]:
"""Using a dic to represent an instructor's grade book."""
grade_book = {
    'suzan': [92,85,100],
    'Eduardo': [83,95,79],
    'Azizi' : [91,89,82],
    'Pantipa': [97,91,92]
}

all_grades_total = 0
all_grades_count = 0

for name,grade in grade_book.items():
    total = sum(grade)
    print(f'Avg for {name} is {total/len(grade):.2f}')
    all_grades_total += total
    all_grades_count += len(grade)

print(f'Class avg is : {all_grades_total/all_grades_count:.2f}')

Avg for suzan is 92.33
Avg for Eduardo is 85.67
Avg for Azizi is 87.33
Avg for Pantipa is 93.33
Class avg is : 89.67

In [ ]:
# Word Count

"""Tokenizing a string and counting unique  words"""
text = ('this is sample text with several words'
        'this is more sample text with some different words')

word_count= {}

for word in text.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(f'{"Word":<12} COUNT')
for word,count in sorted(word_count.items()):
    print(f'{word:<12}{count}')

Word         COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        1
with        2
words       1
wordsthis   1

In [ ]:
text.split()

['this',
 'is',
 'sample',
 'text',
 'with',
 'several',
 'wordsthis',
 'is',
 'more',
 'sample',
 'text',
 'with',
 'some',
 'different',
 'words']

In [ ]:
text = ('this is sample text with several words'
        'this is more sample text with some different words')

for word in text.split():
    print(word)
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(f'')

this
is
sample
text
with
several
wordsthis
is
more
sample
text
with
some
different
words

In [ ]:
from collections import Counter

text = ('this is sample text with several words '
         'this is more sample text with some different words')

counter = Counter(text.split())

for word,count in sorted(counter.items()):
    print(f'{word:<12}{count}')

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

In [ ]:
print('Number of unique keys:',len(counter.keys()))

Number of unique keys: 10

In [ ]:
import random
from collections import Counter

# Create an empty list
numbers = [] 

# Append 50 random integers in the range of 1 -5
for _ in range(50):
    numbers.append(random.randint(1, 5)) 

# Create a Counter object to summarise the numbers
counter = Counter(numbers)

# Display the results in two-column format
print('Number\tCount')  # Column headers
for number, count in counter.items():
    print(f'{number}\t{count}') # Tabular format

Number	Count
1	8
5	14
2	12
4	10
3	6

In [ ]:
country_codes = {}

In [ ]:
country_codes.update({'South Africa' : 'za'})

country_codes

{'South Africa': 'za'}

In [ ]:
country_codes.update({'Egypt':'eg'})
country_codes

{'South Africa': 'za', 'Egypt': 'eg'}

In [ ]:
country_codes.update({'Australia': 'ar'})
country_codes

{'South Africa': 'za', 'Egypt': 'eg', 'Australia': 'ar'}

In [ ]:
country_codes.update(Australia ='au')
country_codes

{'South Africa': 'za', 'Egypt': 'eg', 'Australia': 'au'}

In [ ]:
country_codes.update(Egypt = 'EG')
country_codes

{'South Africa': 'za', 'Egypt': 'EG', 'Australia': 'au'}

In [ ]:
country_codes.update(Egypt = 'eg')
country_codes

{'South Africa': 'za', 'Egypt': 'eg', 'Australia': 'au'}

In [ ]:
months = {'Jan':1, 'Feb':2, 'Mar':3}
months2 = {number: name for name,number in months.items()}
months2

{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [ ]:
grades = {'Sue' : [98,87,94] , 'Bob' : [84,95,91]}
grades2 = {k: sum(v) / len(v) for k,v in grades.items()}
grades2

{'Sue': 93.0, 'Bob': 90.0}

In [ ]:
numbers = {number:number **3 for number in range(1,6)}
numbers

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
numbers = {number for number in range(1,20) if number %2 == 0  }
numbers

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [ ]:
colors = {'red','orange','yellow','green','red','blue'}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [ ]:
len(colors)

5

In [ ]:
'red' in colors

True

In [ ]:
'white' in colors

False

In [ ]:
'purple' not in colors

True

In [ ]:
for color in colors:
    print(color.upper(),end=" ")

YELLOW ORANGE RED BLUE GREEN

In [ ]:
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
set(numbers)

set()

In [ ]:
set()

set()

In [ ]:
numbers = set()

In [ ]:
numbers

set()

In [ ]:
frozenset(numbers)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
numbers[0] = 1
numbers

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
text = 'to be or not to be that is the question'

splitted_text = set(text.split())

for word in sorted(splitted_text):
    print(word, end=" ")

be is not or question that the to

In [ ]:
#comparing Sets
{1,3,5} == {3,5,1}

True

In [ ]:
{1,3,5} != {3,5,1}

False

In [ ]:
{1,3,5} > {1,3,5}

False

In [ ]:
{1,3,5} < {7,3,5,1}

True

In [ ]:
{1,3,5} <= {1,3,5}

True

In [ ]:
{1,3} <= {3,5,1}

True

In [ ]:
{1,3,5}.issubset({3,5,1})

True

In [ ]:
{1,2}.issubset({3,5,1})

False

In [ ]:
{1,3,5} >= {3,5,1}

True

In [ ]:
{1,3,5} >= {3,1}

True

In [ ]:
{1,3} >= {3,1,7}

False

In [ ]:
{1,3,5}.issuperset({3,5,1})

True

In [ ]:
{1,3,5}.issuperset({3,2,1})

False

In [ ]:
set('abc def ghi jkl mno' )>= set('hi mom')

True

In [ ]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

In [ ]:
{1,3,5} | {2,3,4,3}

{1, 2, 3, 4, 5}

In [ ]:
{1,3,5}.union({20,20,3,40,40})

{1, 3, 5, 20, 40}

In [ ]:
{1,3,5} & {2,3,4}

{3}

In [ ]:
{1,3,5}.intersection([1,2,2,3,3,4,4])

{1, 3}

In [ ]:
{1,3,5} - {2,3,4}

{1, 5}

In [ ]:
{1,3,5,7}.difference({2,2,3,3,4,4})

{1, 5, 7}

In [ ]:
{1,3,5} ^ {2,3,4}

{1, 2, 4, 5}

In [ ]:
{1,3,5}.isdisjoint({2,4,6})

True

In [189]:
{1,3,5}.isdisjoint({4,6,1})

False

In [192]:
{10,20,30} - {5,10,15,20}

{30}

In [193]:
{10,20,30} ^ {5,10,15,20}

{5, 15, 30}

In [195]:
{10,20,30} | {5,10,15,20}

{5, 10, 15, 20, 30}

In [196]:
{10,20,30} & {5,10,15,20}

{10, 20}

In [197]:
numbers = {1,3,5}
numbers |= {2,3,4}
numbers

{1, 2, 3, 4, 5}

In [199]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [206]:
numbers.add(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [207]:
numbers.remove(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [209]:
numbers.pop()

0

In [210]:
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [211]:
numbers.clear()

In [212]:
numbers

set()

In [215]:
# RollDieDynamic.py
"""Dynamically graphing frequencies of die rolls."""
from matplotlib import animation
import matplotlib.pyplot as plt
import random 
import seaborn as sns
import sys

def update(frame_number, rolls, faces, frequencies):
    """Configures bar plot contents for each animation frame."""
    # roll die and update frequencies
    for i in range(rolls):
        frequencies[random.randrange(1, 7) - 1] += 1 

    # reconfigure plot for updated die frequencies
    plt.cla()  # clear old contents contents of current Figure
    axes = sns.barplot(x=faces, y=frequencies, palette='bright')  # new bars
    axes.set_title(f'Die Frequencies for {sum(frequencies):,} Rolls')
    axes.set(xlabel='Die Value', ylabel='Frequency')  
    axes.set_ylim(top=max(frequencies) * 1.10)  # scale y-axis by 10%

    # display frequency & percentage above each patch (bar)
    for bar, frequency in zip(axes.patches, frequencies):
        text_x = bar.get_x() + bar.get_width() / 2.0  
        text_y = bar.get_height() 
        text = f'{frequency:,}\n{frequency / sum(frequencies):.3%}'
        axes.text(text_x, text_y, text, ha='center', va='bottom')

    # read command-line arguments for number of frames and rolls per frame
    number_of_frames = int(sys.argv[1])  
    rolls_per_frame = int(sys.argv[2])  

    sns.set_style('whitegrid')  # white background with gray grid lines
    figure = plt.figure('Rolling a Six-Sided Die')  # Figure for animation
    values = list(range(1, 7))  # die faces for display on x-axis
    frequencies = [0] * 6  # six-element list of die frequencies

    # configure and start animation that calls function update
    die_animation = animation.FuncAnimation(
        figure, update, repeat=False, frames=number_of_frames - 1, interval=33,
        fargs=(rolls_per_frame, values, frequencies))

    plt.show()  # display window

In [218]:
#6.2

from collections import Counter

text = ('to be or not to be that is the question')
counter = Counter(text.split())
for word,count in sorted(counter.items()):
    print(f'{word:<12}{count}')

be          2
is          1
not         1
or          1
question    1
that        1
the         1
to          2

In [1]:
{1,2,4,8,16} | {1,4,16,64,256}

{1, 2, 4, 8, 16, 64, 256}

In [2]:
{1,2,4,8,16} & {1,4,16,64,256}

{1, 4, 16}

In [3]:
{1,2,4,8,16} - {1,4,16,64,256}

{2, 8}

In [4]:
{1,2,4,8,16} ^ {1,4,16,64,256}

{2, 8, 64, 256}

In [6]:
{1,2,4,8,16}.issuperset({1,4,16,64,256})

False

In [18]:
votes =  "Alice,Bob,Alice,John,Bob,Alice,John,John,John,Alice"
from collections import Counter
voting_split = votes.split(',')
counter = Counter(voting_split)
final_vote = {}
for name,vote in counter.items():
    final_vote[name] = vote

final_vote

{'Alice': 4, 'Bob': 2, 'John': 4}

In [59]:
emails = {'mohamed@gmail.com','a@gmail.com','mohamed@gmail.com'}
for i in emails:
    print(i.capitalize())

Mohamed@gmail.com
A@gmail.com

In [44]:
popped_value =  emails.pop().upper()
popped_value

'MOHAMED@GMAIL.COM'

In [32]:

emails.add(5)
emails

{2, 5}

In [72]:


def dubli_emails(emails):
    unique_emails = set()
    for i in emails:
      unique_emails.add(i.lower())
    return list(unique_emails)

emails = {'MohAmed@gmail.com','a@gmail.com','mohamed@gmail.com'}

print(dubli_emails(emails))

['mohamed@gmail.com', 'a@gmail.com']

In [96]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

for country in tlds.keys():
    print(country)

userinput = input("Select a country to see its abbreciation")

if userinput in tlds.keys():
    print(tlds[userinput])
else:
    print('Not Found')

Canada
United States
Mexico
mx

In [102]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

print(f'{"Country":<20}{"Abbreviations"}')

for country,abb in tlds.items():
    print(f'{country:<20}{abb}')

Country             Abbreviations
Canada              ca
United States       us
Mexico              mx

In [109]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

tlds.update ({'Egypt' : 'eg'})
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Egypt': 'eg'}

In [112]:
tlds['Egypt'] = 'eg'
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Egypt': 'eg'}

In [116]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

tlds_reverse = {abb:name for name,abb in tlds.items()}

tlds_reverse

{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico'}

In [117]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

for name,abb in tlds.items():
    tlds[name] = abb.upper()

tlds

{'Canada': 'CA', 'United States': 'US', 'Mexico': 'MX'}

In [128]:
colors1 = {'blue','red','gray','green','red'}
colors2 = {'gray','black','white','red'}

if len(colors1) > len(colors2):
    print(colors1)
else:
    print(colors2)

{'red', 'white', 'black', 'gray'}

In [129]:
colors1 == colors2

False

In [130]:
colors1 | colors2

{'black', 'blue', 'gray', 'green', 'red', 'white'}

In [131]:
colors1 & colors2

{'gray', 'red'}

In [132]:
colors1 - colors2

{'blue', 'green'}

In [133]:
colors1 ^ colors2

{'black', 'blue', 'green', 'white'}

In [135]:
staff_dict = {
    '123' : {
        'name':'Mohamed Younis',
        'age' : '29',
        'dept.' : 'IT'
    },
    '567' : {
        'name':'Marina',
        'age': '32',
        'dept.': 'Lab'
    }
}

for key,value in staff_dict.items():
    print(f'Staff ID : {key}')

    for k,v in value.items():
        print(f'    {k}:{v}')

Staff ID : 123
    name:Mohamed Younis
    age:29
    dept.:IT
Staff ID : 567
    name:Marina
    age:32
    dept.:Lab