In [2]:
f'{10:d}'

'10'

In [3]:
f'{65:c} {97:c}'

'A a'

In [5]:
f'{58:c}{45:c}{41:c}'

':-)'

In [7]:
import pandas as pd

In [8]:
zips = pd.Series({'Boston' : '02215' , 'Miami' : '3310'})
zips

Boston    02215
Miami      3310
dtype: object

In [1]:
f'{123456.78:,.2f}'

'123,456.78'

In [2]:
'{} {}' .format('Amanda','Cyan')

'Amanda Cyan'

In [3]:
'{0} {0} {1}'.format('Happy','Birthday')

'Happy Happy Birthday'

In [4]:
'{first} {last}'.format(first = 'Amanda' , last = 'Gary')

'Amanda Gary'

In [9]:
name = 'Pam'
name += ' Black'
bar = '*'
bar *= len(name)
print(f'{bar}\n{name}\n{bar}')

*********
Pam Black
*********

In [11]:
sentence = '\t \n this is a test string. \t\t \n'
sentence.strip()

'this is a test string.'

In [13]:
sentence.rstrip()

'\t \n this is a test string.'

In [14]:
'Amanda: 89,97,92'.partition(': ')

('Amanda', ': ', '89,97,92')

In [16]:
url = 'http://www.deitel.com/books/PyCDS/table_of_contents.html'
rest_of_url,seperator,documnet = url.rpartition('/')
documnet

'table_of_contents.html'

In [17]:
seperator

'/'

In [9]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [10]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])

In [11]:
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [12]:
cities.str.contains(r'[a-z]{2}')

0    True
1    True
dtype: bool

In [13]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
             ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [16]:
contactsdf = pd.DataFrame(contacts,columns=['Name','Email','Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [29]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})',value)
    return '-'.join(result.groups()) if result else value

In [30]:
formatted_phone  = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [18]:
import re

In [30]:
'Valid' if re.fullmatch('[A-Z][a-z]*' , 'Wally') else 'Invalid'

'Valid'

In [31]:
'Match' if re.fullmatch('[^a-z]' , 'A') else 'No match'

'Match'

In [32]:
import pandas as pd

In [33]:
zips = pd.Series({'Boston' : '02215' , 'Miami' : '2210'})
zips

Boston    02215
Miami      2210
dtype: object

In [34]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [35]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])

In [36]:
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [37]:
cities.str.contains(r'[A-Z]{2}')

0    True
1    True
dtype: bool